<a href="/groups/<%= @group.id %>">&larr; Back to Group</a>
<h1>Edit Group</h1>
<hr />
<%= form_with(model: @group, local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>