<a href="/guides/<%= @guide.id %>">&larr; Back to Guide</a>
<h1>Edit Guide</h1>
<hr />
<%= form_with(model: @guide, local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>